.hero-container {
  /* background-color: #292C5D;  */
  display: flex;
  justify-content: space-around;
  padding-bottom: 24px;
  padding-top: 140px;
}

.hero-container .hero-column {
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 30%;
}

.hero-container .hero-column .hero-img {
  padding-top: 20px;
  width: 38vw;
}

.hero-container .hero-column .hero-date {
  font-family: "Asap VF Beta", "Helvetica";
  font-weight: 400;
  font-size: 24px;
  color: #ff5f5d;
}

.hero-container .hero-column .hero-text {
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: "Asap VF Beta", "Helvetica";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.hero-container .hero-column .hero-text .hero-iiitv {
  color: #ff5f5d;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.hero-discord {
  width: 312px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: none;
  background: #ffca39;
  box-shadow: 0px 2px 9px 3px rgba(27, 27, 27, 0.25);
  border-radius: 5px;
}

.hero-discord-img {
  background: none;
  padding-right: 10px;
}


@media (max-width: 1240px) {
  .hero-buttons {
    align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .hero-container {
    padding-top: 25px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-container .hero-column {
    width: 100%;
    text-align: center;
  }

  /* .hero-container .hero-column .hero-img {
    width: 40vw;
  } */

  .hero-img {
    /* width: 80%; */
    align-items: center;
  }

  .hero-container .hero-column .hero-text {
    padding-bottom: 20px;
  }

  .hero-logo {
    /* width: 80%; */
    padding: 0px 30px;
  }

  .hero-text-container {
    padding: 0px 20px;
    text-align: center;
  }

  .hero-buttons {
    align-items: center;
  }
}

@media (max-width: 600px) {
  .hero-img {
    width: 80%;
  }

  .hero-logo {
    width: 80%;
  }
}

@media (min-width: 1240px) {
  .hero-buttons {
    display: none;
  }
}