.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-super-title {
  padding-top: 100px;
  text-align: center;
  font-family: avenir-bold;
  font-size: 24px;
  color: #FF5F5D;
}

.team-title {
  text-align: center;
  font-family: avenir-bold;
  font-size: 60px;
  color: #ffffff;
  padding-bottom: 80px;
}

@media (max-width: 600px) {
  .team-container {
    padding-bottom: 75px;
  }

  .team-title {
    padding-bottom: 0px;
  }

  .team-super-title {
    padding-top: 0px;
  }
}