.containerr {
  background-color: #292c5d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  /*To fix navbar to the top of page uncomment the following code*/
  /* padding-bottom: 15px;
  position: fixed;
  width: 100%; */
}

.links {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-around;
}

.buttonss {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
}

.discord {
  position: static;
  width: 150px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 5px;
  margin-bottom: 4px;

  text-decoration: none;
  background: #ffca39;
  box-shadow: 0px 2px 9px 3px rgba(27, 27, 27, 0.25);
  border-radius: 5px;
}

.distext {
  font-family: avenir;
  font-style: normal;
  font-weight: 600;
  background: none;
  color: #292c5d;
}

.discord-img {
  background: none;
}

.part2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.linktext {
  width: 69px;
  height: 30px;

  font-family: avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  color: #ffffff;
  text-decoration: none;
}

.icontext {
  color: #ffffff;
  text-decoration: none;
  width: 18px;
  height: 18px;
}

.devfolio-button{
  position:static;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  text-decoration: none;
  width: 100px;
}