.faqs-container {
  padding-top: 100px;
  padding-bottom: 145px;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.faqs-col {
  width: 38vw;
}

.faqs-left {
  padding-top: 169px;
}

.faqs-title {
  font-family: avenir-bold;
  font-weight: bold;
  font-size: 140px;
}

.faqs-descp {
  font-family: avenir;
  font-size: 24px;
}

.faqs-red {
  color: #ff5f5d;
  text-decoration: none;
}

.faqs-vl {
  border-left: 2px solid #ff5f5d;
  height: 50rem;
}

.faqs-hl {
  border: none;
  width: 102%;
  height: 2px;
  background: #ff5f5d;
}

@media (max-width: 1000px) {
  .faqs-title {
    padding-top: 25px;
    font-size: 60px;
  }

  .faqs-container {
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }

  .faqs-vl {
    margin: auto;
    margin-top: 30px;
    height: 2px;
    border-width: 250px;
  }

  .faqs-col {
    margin: auto;
    width: 80%;
    padding-top: 0px;
  }
}