.footer-container {
  padding-bottom: 30px;
}

.footer-text {
  font-family: avenir;
  font-size: 24px;
  text-align: center;
  color: #ff5f5d;
}

.footer-email {
  padding-top: 45px;
  padding-bottom: 90px;
  font-family: avenir-bold;
  font-size: 3.75em;
  text-align: center;
  color: #ffffff;
}

.footer-email-link {
  text-decoration: none;
  color:#ffffff;
}

.footer-social {
  margin: auto;
  display: flex;
  margin: 0px 35%;
  justify-content: space-between;
}

.footer-social-icon {
  width: 70px;
  height: 70px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright-title {
  font-family: avenir-bold;
  font-size: 20px;
  color: #ffffff;
  padding: 5px 10px 5px 75px;
  margin-right: 18px;
  border-right: 2px solid #FF5F5D;
  align-items: center;
}

.footer-copyright-text {
  font-family: avenir;
  font-size: 14px;
  color: #ffffff;
  align-items: center;
}

.footer-coc {
  padding-right: 50px;
}

.footer-coc-text {
  font-family: avenir-bold;
  font-size: 20px;
  color: #b8b8b8;
  text-decoration: none;
}

@media (max-width: 1240px) {
  .footer-email {
    font-size: 26px;
  }

  .footer-social-icon {
    width: 30px;
    height: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .footer-text {
    padding-top: 25px;
    font-size: 14px;
  }

  .footer-email {
    font-size: 18px;
    padding-bottom: 60px;
    padding-top: 20px;
  }

  /* .footer-social-icon {
    width: 30px;
    height: 30px;
    padding-bottom: 30px;
  } */

  .footer-copyright-title {
    padding: 10px;
  }

  .footer-copyright {
    margin: auto;
  }

  .footer-social {
    margin: 0 20%;
    justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .footer-email {
    font-size: 12px;
  }
}