.rules-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-flow: column; */
  padding-bottom: 84px;
}

.rules-title {
  text-align: center;
  font-family: avenir-bold;
  font-size: 60px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media (max-width: 1000px) {
  .rules-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .rules-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
}