.sponsors-container {
  padding-top: 75px;
}

.sponsors-super-title {
  text-align: center;
  font-family: avenir-bold;
  color: #ff5f5d;
  font-size: 24px;
}

.sponsors-title {
  text-align: center;
  font-family: avenir-eb;
  font-size: 60px;
  color: #ffffff;
  padding-bottom: 40px;
}

.sponsors-images-wrapper {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding-bottom: 40px;
}

.sponsors-image-container {
  /* padding: 45px 0px; */
  flex: 0 0 calc(25.66% - 20px);
  color: white;
  padding: 10px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
}

.sponsors-image {
  width: 280px;
  height: 150px;
}

.sponsors-category {
  font-size: 40px;
  color: #ff5f5d;
  text-align: center;
  font-family: avenir-bold;
}

@media (max-width: 600px) {
  .sponsors-images-wrapper {
    flex-direction: column;
  }

  .sponsors-image {
    width: 150px;
    height: 100px;
  }

  .sponsors-category {
    font-size: 30px;
  }
}